Remove urlparse.quote() operation on /track/location element

**Is your feature request related to a problem? Please describe.**
When providing YouTube URL to VLC through XSPF file, if location is https://youtube.com/watch?v=[id] it works. If YouTube URL is quoted as such as location is then https://youtube.com/watch%3Fv%3D[id], VLC seems unable to load.

Currently hacked the file by replacing `loc #str(urlparse.quote(loc, safe='/:'))` by `loc`, line 538
 
**Describe the solution you'd like**
Even if quoting URL seems a good practice, in this particular case, it makes the lib unusable as is. Remove quote operation or provide an option to disable it. Quoting still can be done at upper level and isn't really the job of a library handling XSPF format.


Hello.

I saw your problem and turned off quoting in any field with a location. You can check it out in version 0.2.0.

The problem is that according to the specification,[ the location must be URI](https://www.xspf.org/xspf-v1.html#rfc.section.4.1.1.2.14.1.1.1.1). Disabling quoting will add the ability to generate invalid playlists. I think I will rewrite the implicit quoting to an explicit `ValidationWarning` or something like this one day later.

Thanks.

Hi,

Thanks, got the version 0.2.0, works as intended.

I understand your wish to generate something that respects the XSPF specification. however, I still think quoting is not necessary to achieve that goal and neither help go that way. Let me drop some thoughts:
- when reading URI specification [RFC 3986, section 2.4](https://tools.ietf.org/html/rfc3986#section-2.4), I understand that quoting (or percent encoding) should only used by URI producers.
- xspf-lib is not producing URI. It takes python objects and converts it to a text file.
- xspf-lib doesn't know if provided URI is already quoted. There is a risk to quote already quoted URI which will lead to a wrong location processing by playlist consumer.
- If I'm providing "foo bar" as a location, quoting won't help making it a valid URI.
